<!doctype html>
<title>Smash Eisti</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
<h1>Bienvenu sur le leaderboard Smash Eisti</h1>

<div>
    <table align="center">
        <tr><th>Rang</th><th>Pseudo</th><th>ELO</th></tr>
        {% for player in players %}
            <tr>
                <td>{{player.rank}}</td>
                <td>{{player.name}}</td>
                <td>{{player.elo}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <h2>Déclarer un Match</h2>
    <br>
    <form action="/" method="post">
        <table align="center">
            <input type="hidden" name="type" value="match">
            <tr>
            <td>
                Joueurs :
            </td><td>
                <input list="player1" name="player1" required>
                <datalist id="player1">
                    {% for player in players %}
                        <option value={{player.name}}>
                    {% endfor %}
                </datalist>
            </td><td>
                <input list="player2" name="player2" required>
                <datalist id="player2">
                    {% for player in players %}
                        <option value={{player.name}}>
                    {% endfor %}
                </datalist>
            </td>
            </tr>
            <tr>
                <td>
                Score :
                </td><td>
                <input type="number" name="score1" min="0" required>
                </td><td>
                <input type="number" name="score2" min="0" required>
                </td>
            </tr>
        </table>
        <input type="submit">
    </form>
</div>

<div>
    <h2>Nouveau joueur</h2>
    <form action="/" method="post">
        <input type="hidden" name="type" value="player">
        <table align="center">
            <tr><td>
            name* : </td><td><input type="text" name="name" required><br>
            </td></tr><tr><td>
            email : </td><td><input type="text" name="email"><br>
            </td></tr><tr><td>
            password : </td><td><input type="text" name="password"><br>
            </td></tr>
        </table>
        <input type="submit">
    </form>
</div>

</body>

<footer>
    Envie d'améliorer le dashboard ? <a href="https://github.com/Pozuelomar/SmashEistiLadderBoard"> Rejoignez-nous !</a>
</footer>
